html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color-scheme: light dark;
  background: Canvas;
  color: CanvasText;
}

body.light-theme {
  color-scheme: light;
}

body.dark-theme {
  color-scheme: dark;
}
