html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color-scheme: dark;
  background: #131722;
  color: #d1d4dc;
}

body.light-theme {
  color-scheme: light;
  background: #ffffff;
  color: #131722;
}

body.dark-theme {
  color-scheme: dark;
  background: #131722;
  color: #d1d4dc;
}
